#cosmosButton {
	font-size: 24px;
	display: block;
	margin-top: 70px;
	float: right;
}

#inOrderButton {
	font-size: 24px;
	display: block;
	margin-top: 70px;
	float: left;
}

#row1 {
	width: 20%;
	display: block;
	margin: auto;
}

#name {
	font-size: 72px;
	text-align: center;
	margin-top: 20px;
	/* opacity: 0.0; */
}

#name:hover {
	opacity: 0.75;
}

#image {
	display: block;
	margin: auto;
	width: 600px;
	height: 600px;
}

img {
	display: block;
	margin: auto;
	height: 400px;
	width: auto;
}
